.caption-bottom-left {
	bottom: 40vh !important;
}
.caption-bottom-center {
	bottom: 40vh !important;
}
.caption-bottom-right {
	bottom: 40vh !important;
}
.pagination-below {
	margin-left: 45% !important;
}