.wp-block > .wp-block-uwai-button {
    pointer-events: none;
    
    &> .btn.btn--secondary--darkbg {
        border-color: #eee;
        color: #eee;
    }
    &> .btn.btn--tertiary--darkbg {
        color: #333;
        background-color: buttonface;
    }
}