/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-uwai-button.btn{
	&--lightbg {
		color: #fff;

		&:focus {
			background: #0079bf;
			outline: 1px solid #0079bf;
			outline-offset: 2px;
		}
	}
	&--darkbg {
		color: #333;

		&:hover, &:focus {
			background-color: #ffe500;
			color: #333;
		}
		&:focus {
			outline: 1px solid #fff;
			outline-offset: 2px;
		}
	}
	&.btn--secondary {
		&--lightbg:focus {
			border-color: transparent;
    		outline: 1px solid #0079bf;
		}
		&--darkbg {
			color: #fff;
			&:hover, &:focus {
				color: #333;
				background-color: #ffe500;
			}
			&:hover {
				background-color: #ffe500;
				border-color: #ffe500;
				color: #333;
			}

			&:focus {
				outline: 1px solid #fff;
				outline-offset: 2px;
			}
		}
	}

	&.btn--tertiary--darkbg {
		color: #333;
		background-color: buttonface;
	}
}

