.block-editor-block-list__block.wp-block .ribbon {
    & * {
        white-space: normal;
    }
    h1,h2,h3,h4,h5,h6 {
        line-height: 1.4;
    }

    &.ribbon--highlight {

        h1,h2,h3,h4,h5,h6 {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 2;
        }
    }
}

    // &.has-molecule::before {
    //     content: '';
    //     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='135' height='135'%3E%3Cpath d='M63.967.093l48.7 17.245 22.24 46.63-17.245 48.698-46.63 22.241-48.698-17.245L.093 71.032l17.245-48.698z' fill='%23FFD100' fill-rule='evenodd' opacity='.5'/%3E%3C/svg%3E");
    //     width: 135px;
    //     height: 135px;
    // }
