/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.event-card__date-info {
	display: inline-block;
	padding: 4px 8px;
	font-size: 0.8rem;
	font-weight: bold;
}
.upcoming-events .event-card__date-info {
	background-color: #FFD100;
}

.past-events .event-card__date-info {
	background-color: #D9D9D9;
}
 
.events-archive {
	.event-cards {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		.event-card {
			margin-top: 0;
			margin-bottom: 1rem;

			.event-card__date {
				padding: 16px 24px 16px;
			}
			

			.event-card-info {
				.event-card-info__time, .event-card-info__location {
					display: flex;
					align-items: center;
				}
			}

			// Comp Lib override
			.event-card__link:hover{
				img {
					opacity: 1;
				}
				&::before {
					background: transparent;
				}
			}
			@media (min-width: 600px) {
				margin-right: 1.1rem;
			}
		}

		@media (min-width: 576px) {
			flex-direction: row;
		}
	}

	.upcoming-events {
		background-color: #F2F2F2;
		margin-bottom: 3.3rem;

		.event-card__date-info {
			background-color: #FFD100;
		}
	}
	.past-events .event-card__date-info {
		background-color: #D9D9D9;
	}
}

.event-page {

	.ucla.campus.masthead h1.entry-title {
		margin-bottom: 1rem;
	}

	.event-featured-img {
		max-width: 100%;
		height: auto;
		margin-bottom: 1rem;
	}

	.event-card-info__time, .event-card-info__location {
		display: flex;
		align-items: center;
	}
}

// Display on page

.events-container.both,.events-container.upcoming,.events-container.past {
	display: flex;
	flex-wrap: wrap;

	.event-card {
		margin-top: 0;
		margin-bottom: 1rem;

		.event-card__date {
			padding: 16px 24px 16px;
		}
		

		.event-card-info {
			.event-card-info__time, .event-card-info__location {
				display: flex;
				align-items: center;
			}
		}

		// Comp Lib override
		.event-card__link{
			.event-card__image {
				object-fit: cover;
			}
			&:hover{
				img {
					opacity: 1;
				}
				&::before {
					background: transparent;
				}
			}
		}
		@media (min-width: 600px) {
			margin-right: 1.1rem;
		}
	}

	.upcoming-events {
		margin-bottom: 3.3rem;

		.event-card__date-info {
			background-color: #FFD100;
		}
	}
	.past-events .event-card__date-info {
		background-color: #D9D9D9;
	}
}