
.hero-banner-container {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 436px;
	display: flex;
	flex-direction: column;

	@media (max-width: 1279px) {
		position: relative;
	}

	&.full-width {
		padding: 0 100vw;
		margin: 0 -100vw;

		@media (min-width: 992px) {
			padding: 0 50vw;
			margin: 0 -50vw;
		}
	}
	// padding: 0 100%;
	// margin: 0 -50vw;

	.hero-banner__content {
		h1,h2,h3,h4,h5,h6, p {
			padding: 0;
		}
	}

	.banner__image-credit {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #00598C;
		color: white;
		font-style: italic;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
		margin-top: auto;

		@media (min-width: 1280px) {
			width: auto;
			// left: 100vw;
			position: initial;
			align-self: flex-end;
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
}

.story {
	&.full-width {

		@media (max-width: 1023px) {
			width: 100vw;
			position: relative;
			left: 50%;
			right: 50%;
			margin-left: -50vw;
			margin-right: -50vw;
			padding: 0;
		}

		.story__featured-image {
		

			@media (min-width: 1024px) {
				position: absolute;
				left: 50%;
			}
		}
	}
	&> .story__featured {
		float: none;

		h1,h2,h3,h4,h5,h6, p {
			padding: 0;
		}
	}
}

@media (min-width: 1024px) {
	.story__featured {
		float: left;
		
		.story__featured-image {
			width: 75%;
			height: auto;
			max-height: 540px;
			object-fit: cover;
		}

		.story__featured-content {
			width: 50%;
			max-width: 576px;
			top: 35%;
			transform: none;
		}
	}
}
@media (min-width: 1280px) {
	.col[class*="span"] .story {
		padding: 0;
	}
}