/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.editor-styles-wrapper .basic-card__title {
	line-height: 27px;
	margin: 0 0 1rem;
	font-size: 1.5rem;
}

.wp-block-uwai-recent-posts {
	display: flex;
	flex-direction: row;
}

.wp-block-uwai-recent-posts.left {
	flex-direction: column;
	float: left;
}

.wp-block-uwai-recent-posts.right {
	flex-direction: column;
	float: right;
}

.wp-block-uwai-recent-posts.center {
	flex-direction: row;
	justify-content: center;
}
  
