/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-uwai-uwai {
	background-color: var(--wp-admin-theme-color);
	color: #fff;
	padding: 2px;
}

  
.blade-links {
margin: 1em!important;
}

.uwai-recent-post {
display: flex;
flex-direction: column;
}

@media (min-width: 768px) {
	.uwai-recent-post {
		flex-direction: row;
	}

	.uwai-recent-post.right {
		flex-direction: column;
		align-items: flex-end;
	}
		
	.uwai-recent-post.left {
		flex-direction: column;
		align-items: flex-start;
	}
		
	.uwai-recent-post.center {
		flex-direction: row;
		justify-content: center;
	}
		
	.uwai-recent-post.wide {
		flex-direction: row;
		justify-content: space-between;
	}
		
	.uwai-recent-post.full {
		flex-direction: row;
		justify-content: space-around;
	}
}
  