/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-uwai-uwai {
	background-color: var(--wp-admin-theme-color);
	color: #fff;
	padding: 2px;
}

  
  .blade-links {
	margin: 1em!important;
  }
  
  .uwai-recent-post {
	display: flex;
	flex-direction: row;
  }
  
  .uwai-recent-post.right {
	flex-direction: column;
	float: right;
  }

  .uwai-recent-post.left {
	flex-direction: column;
	float: left;
  }

  .uwai-recent-post.center {
	flex-direction: row;
	justify-content: center;
  }